#container {
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 350px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: aqua;
}

#reset {
    font-size: 5;
}

show {
  border: 2px solid red;
}
